@use "./ui/components/variables.scss" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
  height: 100%;
}
